.checkoutProduct {
    display: flex;
    margin: 20px 0;
    border-bottom: 1px solid lightgray;
    padding: 10px;
}
.checkoutProduct__detail {
    margin-top: 15px;
    margin-left: 10px;
}
.checkoutProduct > img {
    margin-right: 20px;
    object-fit: contain;
    width: 200px;
    height: 200px;
}
.checkoutProduct__title {
    font-size: 18px;
    font-weight: 600;
}
.checkoutProduct__detail > button {
    padding: 5px 12px;
    background: #f0c14b;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    border-color: #a88734 #9c7e31 #846a29;
    color: #111;
}
