.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 100;
}
.logo {
  width: 100px;
  margin: 20px 22px 0;
  object-fit: contain;
}
.search {
  display: flex;
  align-items: center;
  flex: 1;
  justify-self: center;
}
.searchInput {
  margin-top: 18px;
  height: 11.5px;
  padding: 14px;
  border: none;
  width: 100%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.searchIcon {
  background-color: #cd9042;
  height: 23px !important;
  padding: 9px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.headerNav {
  display: flex;
  justify-content: space-evenly;
}
.headerLink {
  color: white;
  text-decoration: none;
}
.headerOption {
  display: flex;
  flex-direction: column;
  margin: 0 22px;
}
.optionLineOne {
  font-size: 11px;
}
.optionLineTwo {
  font-size: 16px;
  font-weight: 800;
}

.optionBasket {
  display: flex;
  align-items: center;
}
.optionBasket span {
  font-size: 21px;
}
.basket {
  font-size: 37px !important;
}
.basketCount {
  margin: 0 20px;
}
